@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins&display=swap&family=Montez&display=swap");

body{
  background-color: #e8ece8;
  font-family: 'Poppins', sans-serif;
  color: #1e1e1e;
}

.page-wrapper{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
}

h1, h2, h3 {
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

h3{
  font-size: 1.5rem;
  text-align: left;
}

nav{
  background-color: #aa7446;
  border-radius: 3px;
}

.navbar-link {
  text-decoration: none;
  color: #eecf8b;
  margin-right: 2rem;
}

.navbar-brand{
  color: #eecf8b;
  font-family: 'Montez', cursive;
  margin-right: 3rem;
}

.navbar-link:hover{
  color: whitesmoke
}

.bi{
  margin-right: 0.5rem;
}

.btn, .btn:focus{
  border-radius: 10px;
  background-color: #B45008;
  border: none;
}

.btn:hover{
  background-color: whitesmoke;
  color: #B45008;
}

.profile-form, .profile-form:focus{
  width: 80%;
  margin: 3rem;
  margin-top: 1rem;
}

.form-control{
  background: white;
  border: none;
}

.sr-only{
  display: none;
}

button.close{
  border: none;
  background-color: transparent;
}

.modal-content{
  background-color: #e8ece8;
}

.hello-block{
  background-color: #dfb89c;
  border-radius: 5px;
  box-shadow: 8px 10px 10px 2px rgb(146, 141, 141);
}

.about-container{
  background-color: whitesmoke;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfb89c;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.home-upper-flex{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.visit-pets{
  margin-top: 1rem;
  
}

.search-input{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.height, .weight{
  width: 50%
}

.search-name{
  font-size: 1.5rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
}

.pet-list-item{
  list-style-type: none;
  background-color: rgb(250, 247, 243);
  padding: 0.5rem;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .navbar-brand, .dog-pic-home {
      display: none !important;
  }
  .hello-block{
    box-shadow: none;
  }
  
}