@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins&display=swap");

body{
  background-color: #e8ece8;
  font-family: 'Poppins', sans-serif;
  color: #1e1e1e;
}

.page-wrapper{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

h1, h2, h3{
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

nav{
  background-color: #aa7446;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.navbar-link{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  text-decoration: none;
  color: #eecf8b
}

.navbar-link:hover{
  color: whitesmoke
}

.bi{
  margin-right: 0.5rem;
}

.btn, .btn:focus{
  border-radius: 10px;
  background-color: #383B3C;
  border: none;
}

.btn:hover{
  background-color: #cdd0da;
  color: #383B3C;
}

.profile-form, .profile-form:focus{
  width: 80%;
  margin: 3rem;
  margin-top: 1rem;
}

.form-control{
  background: white;
  border: none;
}

.sr-only{
  display: none;
}

button.close{
  border: none;
  background-color: transparent;
}

.modal-content{
  background-color: #e8ece8;
}